
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BrainBurst</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo-container">
                <a href="@Url.Action("Index", "Home")">
                    <img src="/Assets/darker logo.png" class="Logo">
                </a>
            </div>
            @if (ViewData["Title"]?.ToString() == "Login Page")
            {
                <div class="nav-container">
                    <button class="Join" onclick="location.href='@Url.Action("Join", "Home")'">JOIN A GAME!</button>
                    <button class="Sign" onclick="location.href='@Url.Action("Register", "Account")'">SIGN UP</button>
                </div>
            }
            else if (ViewData["Title"]?.ToString() == "Signup Page")
            {
                <div class="nav-container">
                    <button class="Join" onclick="location.href='@Url.Action("Join", "Home")'">JOIN A GAME!</button>
                    <button class="Sign" onclick="location.href='@Url.Action("Login", "Account")'">LOG IN</button>
                </div>
            }
        </header>
            <main role="main" class="container">
                @RenderBody()
            </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>