@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BrainBurst</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo-container">
                <a href="@Url.Action("Index", "Home")">
                    <img src="/Assets/darker logo.png" class="Logo">
                </a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                @if (ViewData["Role"] != null && ViewData["Role"].ToString() == "Admin")
                {
                    <a href="@Url.Action("AdminPanel", "Panels")" class="profile-container">
                        <div class="profile-container">
                            <div class="UserProfile">
                                <div>
                                    @if (ViewData["FilePath"] != null)
                                    {
                                        <img src="@ViewData["FilePath"]" class="Profile" alt="User Profile">
                                    }
                                    else
                                    {
                                        <img src="/profile_images/default.png" class="Profile" alt="User Profile">
                                    }
                                </div>
                                <div class="credentials">
                                    <div class="nameglobal">@ViewData["Username"]</div>
                                    <div class="usertypeglobal">@ViewData["Role"]</div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                else if (ViewData["Role"] != null && ViewData["Role"].ToString() == "Professor")
                {
                    <a href="@Url.Action("ProfessorPanel", "Panels")" class="profile-container">
                        <div class="profile-container">
                            <div class="UserProfile">
                                <div>
                                    @if (ViewData["FilePath"] != null)
                                    {
                                        <img src="@ViewData["FilePath"]" class="Profile" alt="User Profile">
                                    }
                                    else
                                    {
                                        <img src="/profile_images/default.png" class="Profile" alt="User Profile">
                                    }
                                </div>
                                <div class="credentials">
                                    <div class="nameglobal">@ViewData["Username"]</div>
                                    <div class="usertypeglobal">@ViewData["Role"]</div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                else if (ViewData["Role"] != null && ViewData["Role"].ToString() == "Student")
                {
                    <a href="@Url.Action("StudentPanel", "Panels")" class="profile-container">
                        <div class="profile-container">
                            <div class="UserProfile">
                                <div>
                                    @if (ViewData["FilePath"] != null)
                                    {
                                        <img src="@ViewData["FilePath"]" class="Profile" alt="User Profile">
                                    }
                                    else
                                    {
                                        <img src="/profile_images/default.png" class="Profile" alt="User Profile">
                                    }
                                </div>
                                <div class="credentials">
                                    <div class="nameglobal">@ViewData["Username"]</div>
                                    <div class="usertypeglobal">@ViewData["Role"]</div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
            else
            {
                <div class="nav-container">
                    <button class="Join" onclick="location.href='@Url.Action("Join", "Home")'">Join</button>
                    <button class="Sign" onclick="location.href='@Url.Action("Register", "Account")'">Sign Up</button>
                    <button class="Login" onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
                </div>
            }
        </header>
        <main role="main" class="container">
            @RenderBody()
        </main>
        @if(ViewData["Title"] != "Take Quiz"){
        <footer class="Footer">
            <div class="upfoot">
                <div class="Footlogo">
                    <img src="/Assets/Footer.png" class="logo1">
                </div>
                <div class="info">
                    <div class="information">
                        <h1>Information</h1>
                        <button class="FooterAbout" onclick="location.href='@Url.Action("AboutUs", "Home")'"><h1>ABOUT US</h1></button>
                        <button class="FooterAbout" onclick="location.href='@Url.Action("ContactUs", "Home")'"><h1>CONTACT US</h1></button>
                    </div>
                    <div class="object"></div>
                    <div class="Legal">
                        <h1>Legal</h1>
                        <button class="FooterTerms" onclick="location.href='@Url.Action("Terms", "Home")'"><h1>TERMS AND CONDITIONS</h1></button>
                        <button class="Footerprivacy" onclick="location.href='@Url.Action("Privacy", "Home")'"><h1>PRIVACY POLICY</h1></button>
                    </div>
                </div>
                <div class="ghost"></div>
            </div>
            <div class="downfoot">
                <div class="rights"><h1>All rights reserved.</h1><br><h1>2024.BrainBurst</h1></div>
                <div class="socials">
                    <img src="/Assets/Socials/Facebook.png" class="facebook" style="width: 60px; height: 60px;">
                    <img src="/Assets/Socials/Twitter.png" class="twitter" style="width: 60px; height: 60px;">
                    <img src="/Assets/Socials/Instagram.png" class="instagram" style="width: 60px; height: 60px;">
                </div>
            </div>
        </footer>
        }

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>