<div class="top-chart-container">
    <div>
        <div class="box-pie-chart">
            <canvas id="myPieChart1" width="220" height="240"></canvas>
        </div>
        <p class="report-note">AI Generated vs Manually Created</p>
    </div>

    <div class="box-reports">
        <div class="sp">
            <div class="l">
                <div class="number-of-quiz">
                    <h1>Quizzes</h1>
                    AI Generated Quizzes: @ViewData["AiQuizCount"]
                </div>
                <div class="number-of-flashcards">
                    Manually Created Quizzes: @ViewData["ManualQuizCount"]
                </div>
            </div>

            <div class="r">
                <div class="number-of-quiz">
                    <h1>Flashcards</h1>
                    AI Generated FlashCard: @ViewData["AiFlashcardCount"]
                </div>
                <div class="number-of-flashcards">
                    Manually Created FlashCard: @ViewData["ManualFlashcardCount"]
                </div>
            </div>
        </div>
        <div class="content-created">
            Total Number of Quiz Created/Generated: @ViewData["TotalQuizCount"] Contents
        </div>
    </div>
</div>

<script>
    // Update the charts with the new data
    const ctx1 = document.getElementById('myPieChart1').getContext('2d');
    const myPieChart1 = new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: ['AI Generated Quizzes', 'Manually Created Quizzes', 'AI Generated Flashcards', 'Manually Created Flashcards'],
            datasets: [{
                data: [@ViewData["AiQuizCount"], @ViewData["ManualQuizCount"], @ViewData["AiFlashcardCount"], @ViewData["ManualFlashcardCount"]],
                backgroundColor: [
                    'rgba(58, 183, 26, 1)',
                    'rgba(255, 222, 62, 1)',
                    'rgba(56, 112, 18, 1)',
                    'rgba(255, 207, 4, 1)'
                ],
                borderColor: [
                    'rgba(255, 253, 193, 1)',
                    'rgba(255, 253, 193, 1)',
                    'rgba(255, 253, 193, 1)',
                    'rgba(255, 253, 193, 1)'
                ],
                borderWidth: 8
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'bottom',
                },
                tooltip: {
                    enabled: true,
                }
            },
        }
    });
</script>